
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&family=Lora:ital,wght@1,500;1,600&family=Varela&family=Varela+Round&display=swap');

.top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 9999;
}
.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.topCenter{
    flex: 6;
}
.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 5px ;
}